*{
    margin: 0;
    padding: 0;
    font-family: 'poppins','san-serifs';
    box-sizing: border-box;

}

body{
    background: #222;
}

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#00feba, #5b548a);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 18px;
    flex: 1;
    height: 60px;
    margin-right: 16px;


}

.search button{
    width: 50px;
    height: 50px;
    border: 0;
    outline: 0;
    background:#ebfffc;;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}


.search button img{
    width: 16px;
}


.icon{
    width: 150px;
    margin-top: 30px;
}
.weather h1{
    font-size: 64px;
    margin: 20px 0;
    font-weight: 600;
}
.weather h2{
    font-size: 32px;
    margin-bottom: 20px;
}

.info {
    display: flex;    /* use flexbox layout */
    align-items: center;       /* center vertically */
    justify-content: space-between; /* distribute space between items */
    padding: 0 20px;
    margin: 50px;
}

.col {
    display: flex;
    align-items: center;    /* center items horizontally */
    text-align: left;
}
.col img {
    width: 40px;
    margin-right: 14px;
}

.humidity,.wind{
    font-size: 18px;
    margin-top: -6px;
    
}

.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}